@font-face {
  font-weight: 800;
  font-family: "Gilroy";

  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2");
  src: url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";

  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2");
  src: url("../fonts/gilroy-light-webfont.woff") format("woff");
}

body {
  width: 1440px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;;;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.btn {
  font-weight: 800;
  font-size: 18.5px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.btn:active {
  opacity: 0.3;
}

.site-header {
  width: 1440px;
  margin: 0 auto;
}

.site-header__nav {
  width: 1160px;
  min-height: 300px; /*временно*/
  margin: 0 auto;
  padding: 25px 60px 0 60px;

  background: linear-gradient(to bottom, #ffffff 0px, #ffffff 40px,  rgba(240, 197, 46, 0.5) 40px);
}

.site-header__logo-link:hover {
    opacity: 0.6;
  }
  
.site-header__logo-link:active {
    opacity: 0.3;
  }

.site-header__nav-continer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-header__search {
  width: 580px;
}

/*
.site-header__search-label {
  width: 16px;
  height: 16px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
}
Работает только если у спана убрать класс 
и не оставлять его пустым, пока не могу
решить эту проблему.
*/

.site-header__search-input {
  background-color: transparent;
  border: none;
  outline: none;
}

.site-header__search-input:focus {
  border-bottom: 2px solid #000000;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.site-header__search-btn {
  visibility: hidden;
}

.site-header__search-input:focus + .site-header__search-btn {
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: visible;
}

.site-header__search-input:focus + .site-header__search-btn:hover {
  color: #ffffff;

  background-color: #000000;
}

.site-header__search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  visibility: visible;
}

.site-header__user-block {
  display: flex;
  width: 580px;
  padding: 0;

  list-style: none;
}

.site-header__user-item:first-child {
  margin-right: 238px;
}

.site-header__user-item:last-child {
  margin-left: auto;
}

.site-header__user-link {
  color: #000000;
}

.site-header__user-link:hover {
  opacity: 0.6;
}

.site-header__user-link:active {
  opacity: 0.3;
}

.site-header__menu {
  display: flex;
  padding: 0;
  list-style: none;
}

.site-header__menu-item:first-child {
    margin-right: 350px;
}

.site-header__menu-item:nth-child(2) {
    margin-right: 38px;
}

.site-header__menu-item:last-child {
    margin-left: auto;
}

.site-header__menu-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.site-header__menu-link:hover {
  opacity: 0.6;
}

.site-header__menu-link:active {
  opacity: 0.3;
}

.site-header__sub-menu {
  width: 600px;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  column-count: 3;
  padding: 0;
}

.site-header__sub-menu-item:nth-child(5) {
margin-bottom: 40px;
}

.site-header__sub-menu-link {
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.site-header__sub-menu-link:hover {
  opacity: 0.6;
}

.site-header__sub-menu-link:active {
  opacity: 0.3;
}

.site-main {
  width: 1440px;
  margin: 0 auto;
}

.slider__item {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin: 0 auto 106px auto;
  padding: 0 60px;
}

.slider__img {
  margin: 0 auto;
}

.slider__description {
  width: 520px;
}

.slider__title {
  font-weight: 800;
  font-size: 47.5px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.slider__text {
  color: #464646;
}

.slider__table-cell {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.025em;
}

.slider__table-cell_head {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 1);
  letter-spacing: 0.008em;
}

.product-type__list {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto 84px auto;

  list-style: none;
}

.product-type__link {
  width: 115px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.product-type__link:active {
  opacity: 0.3;
}

.product-type__img-wrap {
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  background-color: rgba(240, 197, 46, 0.5);
}

.product-type__img-wrap:hover,
.product-type__img-wrap:active {
  background-color: #f0c52e;
}

.product-type__link:hover .product-type__img-wrap {
  background-color: #f0c52e;
}

.product-type__link:active .product-type__img {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
}

.services__tabs-bar {
  list-style: none;
}

.services__tabs-bar-btn,
.services__tabs-bar-btn:hover {
  color: #000000;
}
.services__tabs-bar-btn:active {
  color: #f7e184;
}

.services__tabs-title {
  font-weight: 800;
  font-size: 47.5px;
  line-height: 47.5 px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.services__tabs-description {
  color: #464646;
}

.partners-list {
  list-style: none;
}

.partners-list__link_gji {
  background-image: url(../img/dji-logo_gray.jpg);
  background-repeat: no-repeat;
}

.about-company__title {
  font-weight: 800;
  font-size: 47.5px;
  line-height: 47.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.about-company__content {
  color: #464646;
  letter-spacing: normal;
}

.about-company__list {
  list-style: none;
}

.about-company__item {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: normal;
}

.contacts__title {
  font-weight: 800;
  font-size: 47.5px;
  line-height: 47.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.contacts__content {
  color: #464646;
  letter-spacing: normal;
}

.site-footer {
  color: #e5e5e5;
  letter-spacing: normal;

  background-color: #464646;
}

.site-footer__logo:hover {
  opacity: 0.6;
}

.site-footer__logo:active {
  opacity: 0.3;
}

.site-footer__phone {
  color: #ffffff;
}

.site-footer__user-block {
  list-style: none;
}

.site-footer__user-link {
  color: rgba(255, 255, 255, 0.7);
}

.site-footer__user-link:hover {
  color: #ffffff;
}

.site-footer__user-link:active {
  opacity: 0.6;
}

.site-footer__menu__link:hover {
  opacity: 0.6;
}

.site-footer__menu {
  list-style: none;
}

.site-footer__menu-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.site-footer__menu-link:hover {
  opacity: 0.6;
}

.site-footer__menu-link:active {
  opacity: 0.3;
}

.icon-html-academy:hover {
  opacity: 0.6;
}

.icon-html-academy:active {
  opacity: 0.3;
}
.site-footer__socials {
  list-style: none;
}

.site-footer__socials-img {
  opacity: 0.3;
}
.site-footer__socials-img:hover {
  opacity: 0.6;
}

.site-footer__socials-img:active {
  opacity: 0.1;
}

.site-main__title {
  font-weight: 800;
  font-size: 47.5px;
  line-height: 47.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-stretch: normal;
  letter-spacing: 0.03em;
}

.breadscrumbs__list {
  list-style: none;
}

.breadscrumbs__link {
  font-size: 14px;
  color: #000000;

  opacity: 0.3;
}

.breadscrumbs__link:hover {
  opacity: 0.6;
}

.breadscrumbs__link:active {
  opacity: 0.1;
}

.sorting__title {
  font-weight: 800;
  font-size: 17.5px;
  line-height: 25.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-stretch: normal;
  letter-spacing: 0.23em;
}

.sorting__list {
  list-style: none;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  letter-spacing: normal;

  opacity: 0.3;
}

.sorting__link:hover {
  opacity: 0.6;
}
.sorting__link:active {
  opacity: 1;
}

.catalog-filter__title {
  font-weight: 800;
  font-size: 17.5px;
  line-height: 25.5px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.23em;
}

.filter__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.filter__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.008em;
}

.card-product__description {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.card-product__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.catalog-nav__btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
}

.catalog-nav__pagination {
  list-style: none;
}

.catalog-nav__pagination-link {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
}

.modal {
  display: none;
}
